*{
    box-sizing: border-box;
}
body{
    margin 0;padding: 15px;
    background-color: #eeeeee;
}
.container{
    width: 510px;
    height: 545px;
    margin: 0px auto;
    padding: 15px;
    background-color: #ffffe0;
    border: 3px solid brown;
}
.image-box{
    width: 365px;
    height: 135px;
    border: 3px solid orange;
}
.image-box img{
    object-fit: fill;
    width: 100%;
    height: 100%;
    display: block;
}
.text-box{
    overflow: auto;
    width: 365px;
    height: 255px;
    border: 3px dotted orange;
    padding: 10px;
    margin-top: 20px;
    background-color: yellow;
    line-height: 1.35;
    text-align: justify;
}
.text-box p {
    margin-top: 10px;
    margin-bottom: 25px;
}

.outbox{
    border: 2px solid brown;
    
    width: 450px;
    height: 300px;
}
h3{
    border: 2px solid green;
    background-color: lightgreen;
    margin: 5px;
}
.inbox2{
    border: 3px solid red;
    background-color: yellow;
    margin: 80px  auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height:150px ;
   
}