body{
    background-color: rgb(121, 243, 243)
}

#css{
    text-align: center;
    background-color: red;
    margin-left: 43%;
    margin-right: 43%;
    border-radius: 200px;
    border: 200px;
}

.fo{
    background-color: palevioletred;
    margin-left: 42%;
    margin-right: 42%;
    text-align: center;
    border: 2px groove lightblue;
    
}